@font-face {
    font-family: "Livvic", "Arial", sans-serif;
    font-weight: 500;
    font-display: swap; 
    src: url("../fonts/livvic-v14-latin-500.woff2") format("woff2"),
    url("../fonts/livvic-v14-latin-500.woff") format("woff");
}

@font-face {
    font-family: "Livvic", "Arial", sans-serif;
    font-weight: 600;
    font-display: swap; 
    src: url("../fonts/livvic-v14-latin-600.woff2") format("woff2"), 
    url("../fonts/livvic-v14-latin-600.woff") format("woff");
}

@font-face {
    font-family: "Livvic", "Arial", sans-serif;
    font-weight: 700;
    font-display: swap; 
    src: url("../fonts/livvic-v14-latin-700.woff2") format("woff2"), 
    url("../fonts/livvic-v14-latin-700.woff") format("woff");
}